<div class="container">
  <div class="row">
    <h1 class="px-3 mx-auto">About <i class="fa-solid fa-book"></i>Bookers!</strong></h1>
  </div>
  <div class="row">
    <h2>長野CAKEは全国発送可能なケーキ屋さんです。</h2><br>
    <h2>お子様からお年寄りのかたまでお召し上がりいただけるよう、</h2><br>
    <h2>様々なバリエーションをご用意しております。</h2><br>
    <h2>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h2><br>
    <h2>ぜひご注文ください。</h2>
  </div>
</div>