<body>
  <div class="conteiner">
    <div class="row">
      <h4 class="px-3 mx-auto">
        ようこそ長野CAKEへ！ <br>
        このECサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入時には会員登録が必要になります。<br />
      </h4>
    </div>
  </div>
  <h2>新着商品</h2>
  <table>
    <tbody>
      <% @item.each do |item| %>
      <tr>
        <th><%= image_tag item.get_item_image(100,100) %></th>
        <th>商品名</th>
         <td><%= item.name %></td>
        <th>¥</th>
         <td><%= item.price %></td>
      </tr>
       <% end %>
    </tbody>
  </table>
  <%= link_to "全ての商品を見る" ,items_path %>
</body>
