<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
<p>購入日時: </p>
<span><%= order.created_at %></span>
<p>購入者:</p>
<span><%= order.name %></span>
<p>注文個数:</p>
<span><%= order.order_items.inject(0) { |total, order_item| total + order_item.amount } %></span>
<% end %>
<%= paginate @orders %> 




<!--１-->
<!--< %= @orders.each do |order| %>-->
<!--  < @商品合計 = 0 %>-->
<!--  < %= order.order_items.each do |order_item| %>-->
<!--    < % @商品合計 += order_item.amount %>-->
<!--    a += b => a(新) = a(古) + b-->
<!--  < % end %>-->
<!--  < %= @商品合計 %>-->
<!--< % end %>-->

<!--２-->
<!--< %= @orders.each do |order| %>-->
<!--  < %= order.order_items.inject(0) { |total, order_item| total + order_item.amount } %>-->
<!--< % end %>-->